@import '../modules/_sub-links.scss';
@import '../modules/_megabanner.scss';
@import '../modules/_bannerbottom.scss';
@import '../modules/_tabContainer.scss';
@import '../modules/_gallery.scss';
@import '../modules/_commentContainer.scss';
@import '../modules/_allproductpage.scss';
@import '../modules/_product-hover.scss';
@import '../modules/_addCardContainer.scss';
@import '../modules/_lightboxContainer.scss';
@import '../modules/_product_design.scss';
@import '../modules/_vertical-tabs.scss';
@import '../modules/_extra.scss';
.megacoursesBanner {
  height: 800px;
  background-image: url('../images/megacorses-page-banner.jpg');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 5px;
  @media only screen and (max-width:413px) {
    height: 1115px;
  }
  @media only screen and (min-width:414px) and (max-width:767px) {
    height: 1150px;
  }
}
//
.allmegacoursesBanner {
  height: 594px;
  background-image: url('../images/product-page-banner.jpg');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  @media only screen and (max-width:767px) {
    height: 475px;
  }
}
.productPageBanner {
  @media only screen and (min-width:768px) and (max-width:1024px) {
    height: 440px;
  }
  .bannerContent {
    > div {
      &:first-child {
        @media only screen and (min-width:999px) and (max-width:1024px) {
          padding-left: 60px;
        }
      }
      &:last-child {
        @media only screen and (min-width:999px) and (max-width:1024px) {
          padding-right: 60px;
        }
      }
    }
  }
}
.lightboxContainer {
  #myCarousel {
    margin-top: 10%;
  }
}
.commentFormsection {
  margin-top: 20px;
  [rating] {
    a {
      &[star] {
        font-size: 25px;
        color: #ffc107;
        &:hover, &:focus {
          text-decoration: none;
        }
        .fa {
          &:hover {
            &::before {
              content: '\f005';
            }
          }
        }
      }
      &[addComment] {
        float: right;
        padding: 5px 8px;
        background-color: #383838;
        color: #fff;
        &:hover, &:focus {
          text-decoration: none;
        }
      }
    }
  }
  .btn-primary {
    @media only screen and (max-width:768px) {
      margin-left: 20%;
    }
  }
  .example-text-input {
    padding-top: 7px;
  }
  .form-control {
    @media only screen and (max-width:768px) {
      width: 80%;
      float: right;
    }
  }
  .checkbox {
    @media only screen and (max-width:768px) {
      width: 80%;
    }
  }
}
