.searchBanner {
  height: 460px;
  background-image: url("../images/search.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  @media only screen and (max-width: 767px) {
    height: 390px;
  }
  .sub-links {
    margin-bottom: 10px;
  }
}
.search_banner_content {
  padding: 0px !important;
  margin-top: 70px;
  h1 {
    text-align: left;
    font-weight: 400;
    @media only screen and (max-width: 767px) {
      font-size: 30px;
    }
  }
}
.search-content {
  h3 {
    color: #124078;
    font-size: 35px;
    font-weight: 300;
    margin-top: 50px;
    margin-bottom: 30px;
  }
}
.dataBox {
  border: solid 3px #bad9ff;
  padding: 15px;
  margin-bottom: 25px;
  .dataImg {
    float: left;
    min-width: 45px;
  }
  .dataContant {
    float: left;
    max-width: 60%;
    @media only screen and (max-width:768px) {
      max-width: 80%;
    }
    h4 {
      margin: 0px;
      line-height: 18px;
      .textbig {
        display: block;
        font-size: 26px;
        color: #124078;
        font-weight: 400;
      }
      .textsmall {
        display: block;
        font-size: 14px;
        color: #7199cb;
        margin-top: 5px;
        font-weight: 300;
      }
    }
    a {
      border: solid 1px #224168;
      padding: 2px 5px;
      margin-top: 8px;
      display: inline-block;
      font-weight: bold;
      font-size: 14px;
      color: #224168;
      @media only screen and (max-width:768px) {
        font-size: 12px;
      }
      &:hover {
        text-decoration: none;
        color: #224168;
      }
    }
  }
}
.productContainer {
  .dataBox {
    padding: 0px;
    @media only screen and (min-width:1025px) {
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
    }
    [class*=dataBox] {
      float: left;
      box-sizing: border-box;
    }
    .dataBoxLeft {
      width: 100%;
      padding: 10px;
      position: relative;
      @media only screen and (min-width:1025px) {
        width: 60%;
      }
      h2 {
        margin: 0px;
        color: #224168;
        line-height: 25px;
        span {
          display: block;
          &.pro_small {
            font-size: 18px;
            font-weight: normal;
          }
          &.pro_big {
            font-size: 26px;
            font-weight: bold;
          }
          &.pro_italic {
            font-size: 20px;
            font-style: italic;
            font-weight: normal;
          }
        }
      }
      ul {
        margin: 8px 0px;
        float: left;
        width: 100%;
        list-style: none;
        padding: 0px;
        li {
          float: left;
          margin-right: 10px;
          min-height: 25px;
          a {
            float: left;
            width: 100%;
            color: #000;
            span.img {
              float: left;
              margin-right: 5px;
              &+span {
                font-size: 12px;
                margin-top: 3px;
                font-weight: bold;
              }
            }
            .sold {
              padding: 3px 10px;
              background-color: #fffea6;
              float: left;
            }
            &:hover {
              text-decoration: none;
            }
          }
        }
      }
      p {
        color: #224168;
      }
      // Button Container
      .buttonContainer {
        // position: absolute;
        width: 172px;
        bottom: 0;
        left: 0;
        // margin: auto;
        overflow: hidden;
        transition:transform .5s ease 0s;
        height: 30px;
        a {
          border: 1px solid #224168;
          padding: 3px 5px;
          display: inline-block;
          float: right;
          font-weight: 700;
          font-size: 12px;
          color: #224168;
          height: 28px;
          transition: all .2s ease;
          overflow: hidden;
          white-space: nowrap;
          background-color: #fff;
          line-height: 20px;
          &:hover {
            text-decoration: none;
            color: #999;
          }
          span {
            line-height: 19px;
          }
          img {
            margin-top: -2px;
            margin-right: 6px;
            float: left;
          }
        }
        .cart2 {
          width: 37px;
          float: right;
          white-space: nowrap;
          &:hover {
            width: 130px;
            color: #0bb051;
            & ~ .learnmore {
              width: 35px;
            }
          }
        }
        .learnmore {
          white-space: nowrap;
          width: 130px;
          margin-right: 2.5px;
          span {
            padding-right: 13px;
          }
          &:hover {
            color: #0bb051;
          }
        }
      }
    }
    .dataBoxRight {
      width: 100%;
      background: #f1f7ff;
      text-align: center;
      position: relative;
      @media only screen and (min-width:1025px) {
        width: 40%;
        border-left: 3px solid #bad9ff;
      }
      @media only screen and (max-width:1024px) {
        border-top: 3px solid #bad9ff;
        padding: 10px 0px;
      }
      img {
        @media only screen and (min-width:1025px) {
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          margin: auto;
        }
      }
    }
  }
}
.Contenido {
  margin-bottom: 50px;
  p {
    a {
      font-size: 18px;
      text-decoration: underline;
    }
  }
}
