.tabContainer {
  padding: 40px 0px !important;
  @media only screen and (max-width:767px) {
    padding: 20px 0px !important;
  }
  ul[data-tab] {
    list-style: none;
    margin: 0px;
    padding: 0px;
    float: left;
    width: 100%;
    border-bottom: solid 1px #dedede;
    @media only screen and (max-width:767px) {
      border-bottom: none;
    }
    li {
      float: left;
      padding: 3px 0px;
      margin-right: 20px;
      @media only screen and (max-width:767px) {
        width: 100%;
      }
      a {
        padding: 3px 0px;
        font-size: 20px;
        color: #bebebe;
        text-transform: uppercase;
        font-weight: 500;
        @media only screen and (max-width:767px) {
          width: 100%;
          display: block;
          font-size: 15px;
          border-bottom: solid 1px #e6e1e1;
        }
        &:hover, &.active, &:focus {
          text-decoration: none;
          border-bottom: solid 2px #0088ce;
          color: #000;
          outline: none;
          font-weight: 500;
        }
      }
    }
  }
}
.tabDataContainer {
  padding: 15px 0px !important;
  display: none;
  .dataBox {
    height: 335px;
    > div {
      margin-bottom: 15px;
      > img {
        width: 100%;
      }
      h2 {
        color: #009ddd;
        font-size: 15px;
        margin: 5px 0px;
      }
      [data-download] {
        color: #fff;
        float: right;
        text-transform: uppercase;
        font-weight: 500;
        span {
          padding: 5px 13px;
          background-color: #1397d5;
          margin-left: -2px;
          display: inline-block;
        }
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}
