// Media Dymention
$xs: 320px;
$sm: 720px;
$md: 1023px;
$lg: 1280px;

// BG Color
$beige: #f5f3e8 !default;
$beige-two: #eee4d1 !default;
$white2: #fbfbfb;
$grey2: #dedede;
//== Colors
//
//## Gray and brand colors for use across Bootstrap.
$brownish-grey: #626262 !default;
$greyish-brown: #4c4c4c !default;
$rouge: #981937 !default;
$grey: #888888 !default;

//== Font size
//
//##
$font-size: 14px !default;
$font-size-sm: 12px !default;
$font-size-ex: 10px !default;

//== Font
//
//##
$font-family-helvetica: Helvetica, Arial, sans-serif !default;
$font-family-lato:  "Lato", Helvetica, Arial, sans-serif !default;
$font-family-roboto:  "Roboto", Helvetica, Arial, sans-serif !default;

//== Header
//
//##


//== MegaMenu
//
//##
